<app-navbar [nombre]="'EQUIPOS'"></app-navbar>

<div class="row mt-2">
  <!-- Maquina -->
  <div class="col-12 mb-3" *ngFor="let maquina of maquinas">
    <div class="row">
      <!-- Imagen -->
      <div class="col-5 d-flex justify-content-end">
        <img [src]="maquina.imagen" alt="" width="100" height="100">
      </div>

      <!-- Informacion de maquina -->
      <div class="col-5">
        <span class="d-block fw-bold">{{maquina.marca}}</span>
        <div class="d-block"><span class="fw-bold">Modelo: </span>{{maquina.modelo}}</div>
        <span class="d-block">{{maquina.no_chasis}}</span>
      </div>

      <!-- Botones de accion -->
      <div class="col-2">
        <button type="button" class="btn btn-primary" [routerLink]="['/registrar-maquinaria', maquina.id]">Actualizar</button>
        <button type="button" class="btn btn-danger" (click)="eliminarMaquina(maquina.id)">Eliminar</button>
      </div>
    </div>

  </div>
</div>

<!-- Botones -->
<div class="row mt-5">
  <div class="col-12 d-flex justify-content-between">
    <button class="btn btn-primary" [routerLink]="['/informacion']">VOLVER</button>
  </div>
</div>
